.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid red;
    margin: 10px;
    min-width: 50%;
    background-color: white;
    padding: 20px;
}

.headerProductList {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;

}

.text {
    width: 100px;
}

